*.log
.buildkite
Dockerfile
**/Dockerfile
.dockerignore
.git/*
**/node_modules
**/_
**/dist
**/tsconfig.tsbuildinfo
**/.expo
**/target/*
app/ios
app/android
.expo/*
.expo-shared/*
.github/*
*.md
*.sketch
assets
docs
*.md
.vscode
docker-compose.yml
**/.ci
**/build
*.tsbuildinfo
