site
*.log
.buildkite
Dockerfile
**/Dockerfile
.dockerignore
.git/*
**/node_modules
**/_
**/dist
**/tsconfig.tsbuildinfo
**/.expo
**/target/*
dish-app/ios
dish-app/android
.expo/*
.expo-shared/*
.github/*
*.md
*.sketch
assets
docs
*.md
.vscode
env.enc.production.yaml
**/fly.toml
fly.toml
docker-compose.yml
**/.ci
services/hasura/migrations
**/build
*.tsbuildinfo
