etc/keys/.netrc filter=git-crypt diff=git-crypt
.env.production filter=git-crypt diff=git-crypt
.env filter=git-crypt diff=git-crypt
etc/domain-certificates.json filter=git-crypt diff=git-crypt
etc/dish-wire.conf filter=git-crypt diff=git-crypt
etc/keys/server_rsa filter=git-crypt diff=git-crypt
etc/keys/github_rsa filter=git-crypt diff=git-crypt
etc/keys/teamdish_gpg filter=git-crypt diff=git-crypt
AppleAuthKey.p8 filter=git-crypt diff=git-crypt
etc/keys/mapkit.p8 filter=git-crypt diff=git-crypt
