/* BASE / RESET */

button,
input {
  font-size: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-size: 14px;
  line-height: 1.3rem;
  font-weight: 300;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  background-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

/* dont change select style it will reset it to flat looking */
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body,
div,
nav,
main,
section {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  flex-shrink: 0;
  align-items: stretch;
  outline: 0;
  min-width: 0;
}

body * {
  outline: 0;
}

style {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

::selection {
  background: rgb(203, 211, 255);
  color: #111;
  text-shadow: none;
}

*::selection {
  background: rgb(203, 211, 255);
  color: #111;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

code {
  line-height: 16px;
  border-radius: 5px;
  white-space: pre;
  overflow: auto;
}

div code {
  padding: 10px;
}

p code,
li code {
  padding: 0px 4px;
  margin: -8px 0;
  line-height: inherit;
  overflow: hidden;
  display: inline;
  white-space: pre-wrap;
}

pre code {
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  white-space: pre;
  overflow-x: auto;
}

/* our styles */

body {
  background: #16070b;
  color: #fff;
  font-size: 3vw;
  padding: 10vw;
}

h1,
h2,
h3,
h4,
p,
p img,
p ul {
  margin-bottom: 2.5rem;
}

p {
  line-height: 2.25rem;
}

@media screen and (min-width: 820px) {
}

.skip-link {
  display: none;
}

.main-nav {
  align-items: center;
}

.main-logo {
  display: flex;
  margin: auto;
  align-self: center;
}

.main-logo-img {
  width: 400px;
  margin: 20px;
}
