@font-face {
  font-family: 'GTEesti';
  font-weight: 600;
  font-style: 600;
  src: url('./GT-Eesti-Display-Bold-2.eot');
  src: url('./GT-Eesti-Display-Bold-2.eot') format('embedded-opentype'),
    url('./GT-Eesti-Display-Bold-2.woff2') format('woff2'),
    url('./GT-Eesti-Display-Bold-2.woff') format('woff'),
    url('./GT-Eesti-Display-Bold-2.ttf') format('truetype');
}

@font-face {
  font-family: 'GTEesti';
  font-weight: 500;
  font-style: 500;
  src: url('./GT-Eesti-Display-Bold.eot');
  src: url('./GT-Eesti-Display-Bold.eot') format('embedded-opentype'),
    url('./GT-Eesti-Display-Bold.woff2') format('woff2'),
    url('./GT-Eesti-Display-Bold.woff') format('woff'),
    url('./GT-Eesti-Display-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GTEesti';
  font-weight: 400;
  font-style: 400;
  src: url('./GT-Eesti-Display-Light.eot');
  src: url('./GT-Eesti-Display-Light.eot') format('embedded-opentype'),
    url('./GT-Eesti-Display-Light.woff2') format('woff2'),
    url('./GT-Eesti-Display-Light.woff') format('woff'),
    url('./GT-Eesti-Display-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GTEesti';
  font-weight: 300;
  font-style: 300;
  src: url('./GT-Eesti-Display-Thin.eot');
  src: url('./GT-Eesti-Display-Thin.eot') format('embedded-opentype'),
    url('./GT-Eesti-Display-Thin.woff2') format('woff2'),
    url('./GT-Eesti-Display-Thin.woff') format('woff'),
    url('./GT-Eesti-Display-Thin.ttf') format('truetype');
}
