html,
body,
#root {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}
#root {
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 1;
  display: flex;
  flex: 1;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  display: flex;
  overflow-y: auto;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

input,
textarea {
  outline: 0;
}

.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ease-in-out-fast {
  transition: all ease-in-out 150ms;
}
.ease-in-out {
  transition: all ease-in-out 250ms;
}
.ease-in-out-slow {
  transition: all ease-in-out 350ms;
}

.force-disable,
.force-disable * {
  pointer-events: none !important;
}

/* fix pointer events bug */
.react-tiny-popover-container {
  pointer-events: none;
}

.inline-link {
  display: inline-flex;
}

div,
.flex {
  display: flex;
  flex-direction: inherit;
  flex-wrap: inherit;
  /* flex-grow: inherit; */
}

.shine:after {
  animation: shine 1.25s ease-in-out infinite;
  animation-fill-mode: forwards;
  content: '';
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes shine {
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 1s, 1s, 0.25s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}

.react-tiny-popover-container {
  z-index: 2;
}
