html,
body,
#root {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  min-height: 100%;
}
#root {
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 1;
  display: flex;
  flex: 1;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  background: #fff;
  display: flex;
  overflow-y: auto;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: #4B2EA8;
}

a:hover {
  color: #4B2EA8cc;
}

p a {
  text-decoration: underline;
}

input,
textarea {
  outline: 0;
}

.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.transition-delay {
  transition-delay: 250ms;
}
.transition-delay-long {
  transition-delay: 400ms;
}

.ease-in-out-top {
  transition: top ease-out 140ms;
}

.ease-in-out-faster {
  transition: all ease-in-out 50ms;
}
.ease-in-out-fast {
  transition: all ease-in-out 100ms;
}
.ease-in-out {
  transition: all ease-in-out 180ms;
}
.ease-in-out-slow {
  transition: all ease-in-out 300ms;
}
.ease-in-out-slower {
  transition: all ease-in-out 400ms;
}

.force-disable,
.force-disable * {
  pointer-events: none !important;
}

.no-transition {
  transition: unset;
}

/* fix pointer events bug */
.react-tiny-popover-container {
  pointer-events: none;
  z-index: 10000;
}

.shine {
  position: relative;
}

.shine:after {
  animation: shine 1.5s linear infinite;
  animation-fill-mode: forwards;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.4) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes shine {
  0%, 10% {
    opacity: 1;
    top: 0;
    left: -100%;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  50% {
    opacity: 0;
    top: 0;
    left: 100%;
    transition-property: left, top, opacity;
  }
}

.react-tiny-popover-container {
  z-index: 2;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.dot-annotation {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #888, #333);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.mk-annotation-container {
  z-index: -1;
}

.searchbar-container ::placeholder {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
}

::placeholder {
  text-overflow: ellipsis;
}

.display-contents {
  display: contents;
}

/* some small animation helpers */
.animate-up {
  pointer-events: none;
  opacity: 0;
  transform: translateY(8px);
  transition: all ease-in-out 200ms;
}
.animate-up.active {
  pointer-events: unset;
  opacity: 1;
  transform: translateY(0);
}

/* some small animation helpers */
.animate-right {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-8px);
  transition: all ease-in-out 200ms;
}
.animate-right.active {
  opacity: 1;
  transform: translateX(0);
}

.see-through {
  display: flex;
  flex-direction: inherit;
  flex-grow: inherit;
  align-items: inherit;
  justify-content: inherit;
  max-width: 100%;
  max-height: 100%;
}

.see-through > * {
  transition: all ease-in-out 120ms;
}

.inline-flex {
  display: inline-flex !important;
}

div,
.flex {
  display: flex;
  flex-direction: inherit;
  flex-wrap: inherit;
  /* flex-grow: inherit; */
}

.blur {
  backdrop-filter: blur(30px);
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.inner-shadow {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.02);
}

.inner-glow {
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.75);
}

.cursor-pointer {
  cursor: pointer;
}

ul, ol {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}

li {
  list-style-type: none;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

li::before {
  content: '\2022';
  color: #999; /* Change the color */
  font-weight: 300;
  display: inline-block;
  width: 1em;
}

.skewX {
  transform: skewX(-12deg);
}

.unskewX {
  transform: skewX(12deg);
}

.scrollable {
  overflow-y: auto;
  flex: ;
}

.dish-link {
  cursor: pointer;
  max-width: 100%;
  flex-direction: inherit;
}

.hover-underline:hover {
  text-decoration: underline;
  text-decoration-color: rgba(150, 150, 150, 1);
}

.unselectable {
  user-select: none;
}

.unselectable-all * {
  user-select: none !important;
}

.searchbar-inner-shadow {
  box-shadow: inset 0 0 30px rgba(255,255,255,0.1);
}

.hover-to-reveal-parent .hover-to-reveal-child {
  opacity: 0;
}

.hover-to-reveal-parent:hover .hover-to-reveal-child {
  opacity: 1;
}

.all-input-blur input {
  user-select: none;
  pointer-events: none;
}

.untouchable, .untouchable * {
  pointer-events: none !important;
}

.invisible {
  opacity: 0;
}
