.title-font {
  font-family: 'GTEesti', Helvetica, Arial, sans-serif;
}

/* HTML */

body {
  font-family: -apple-system, 'SF Pro Text', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
    Helvetica, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #000;
  font-size: 14px;
  line-height: 1.3rem;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  pointer-events: none;
  min-height: 100vh;
  font-kerning: auto;
  font-feature-settings: 'liga', 'kern';
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

body * {
  outline: 0;
}

script,
body script {
  display: none;
}

body,
html {
  background: #000;
}

#root {
  pointer-events: auto;
  overflow-x: hidden;
}

.purple-bg::before {
  display: block;
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:
    radial-gradient(circle at 50% 0,
    #af10fe77,
    rgba(255,0,0,0) 70.71%),
  radial-gradient(circle at 6.7% 75%,
  #ed137b77,
    rgba(0,0,255,0) 70.71%),
  radial-gradient(circle at 93.3% 75%,
  #249bea77,
    rgba(0,255,0,0) 70.71%) #feac1f77;
}

img {
  border: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: red;
  background-color: red;
  transition: background-color 5000s ease-in-out 0s;
}

::selection {
  background: #8c60f8;
  color: #fff;
  text-shadow: none;
}

.theme-home *::selection,
.theme-dark *::selection {
  background: rgba(100, 100, 100, 0.45);
  color: #fff;
  text-shadow: none;
}

*::selection,
.theme-docsPageTheme *::selection,
.theme-light *::selection {
  background: #8c60f8;
  color: #fff;
  text-shadow: none;
}

input,
textarea,
select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

style {
  display: none;
}

a {
  color: lightblue;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

/* reset elements from flex */

a,
span,
em,
b,
strong,
i {
  display: inline;
}

script,
meta,
link {
  display: none;
}

a,
input,
textarea,
select {
  outline: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
br {
  display: block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  white-space: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
code,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

pre,
code {
  margin: 0;
}

code {
  margin: 0;
  padding: 0;
  display: inline-block;
}

img {
  display: block;
}

li {
  display: list-item;
}

p code {
  display: inline-block;
  padding: 0;
}

table {
  display: table;
}
tr {
  display: table-row;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tfoot {
  display: table-footer-group;
}
col {
  display: table-column;
}
colgroup {
  display: table-column-group;
}
td,
th {
  display: table-cell;
}
caption {
  display: table-caption;
}

/* reset mark */
mark {
  background: none;
  color: auto;
}

blockquote {
  margin: 0;
  padding: 0;
}

/* Reset 2.0 */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 16px 0 32px 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.hide-scrollbars::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent;
}

svg .animate-path {
  stroke: #000;
  stroke-width: 1;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation-name: draw;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.calendar-dom *,
.display-block * {
  display: block;
  flex-shrink: initial;
  flex-direction: row;
}

.hover-will-transform:hover {
  will-change: transform, opacity;
}
