:root {
  --purple: #af10fe;
  --pink: #ed137b;
  --teal: #249bea;
  --yellow: #feac1f;
  --orange: #C7893C;
  --blue: #1e1c3d;
  --second-section-bg: var(--blue);
  --rainbow-bg-purple:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0) 85%),
    linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0) 40%),
    linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0) 40%),
    radial-gradient(circle at 50% 10%, var(--purple), rgba(0,0,0,0) 95%),
    radial-gradient(circle at 5% 50%, var(--teal),rgba(0,0,0,0)),
    radial-gradient(circle at 50% 100%, var(--pink), rgba(0,255,0,0));
  --rainbow-bg:
    radial-gradient(circle at 50% 0, var(--purple), rgba(255,255,255,0.5) 55%),
    radial-gradient(circle at 5% 100%, var(--pink),rgba(255,255,255,0) 55%),
    radial-gradient(circle at 95% 75%, var(--teal), rgba(255,255,255,0) 55%),
    var(--yellow);
}

.hover-cursor-pointer:hover {
  cursor: pointer;
}

.tr-all {
  transition-property: all;
}

.tr-ease-in-out {
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.bg-pink {
  background: var(--pink);
}

.bg-yellow {
  background: var(--yellow);
}

.bg-black {
  background: #111;
}

.bg-blue {
  background: var(--blue);
}

.slant-bg::before {
  position: absolute;
  display: flex;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.05), rgba(0,0,0,0.2));
}

.slant-bg::after {
  position: absolute;
  display: flex;
  content: ' ';
  top: -90px;
  left: 0;
  right: 0;
  height: 91px;
  background: linear-gradient(#211c6300, #714fb145);
}

.rainbow-bg {
  background: var(--rainbow-bg);
}

.pink-section {
  background: linear-gradient(var(--pink), #000);
}

.shadow-above::before,
.shadow-below::before {
  display: block;
  content: ' ';
  pointer-events: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.145));
  z-index: -1;
}

.shadow-below::before {
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.45));
}

.toggle-check {
  position: absolute;
  z-index: 1000;
  display: none;
}

.toggle-section {
  max-height: 30px;
  overflow: hidden;
  transition: all ease-out 200ms;
}

.toggle-check:checked ~ .toggle-section {
  transition: all ease-in 1000ms;
  max-height: 10000px !important;
}

.toggle-check:checked ~ .toggle-cover {
  opacity: 0;
}

.yellow-section {
  background: linear-gradient(#FFEA68, #FFEA68, #FFEA68);
}

.title-font {
  font-family: 'GTEesti', Helvetica, Arial, sans-serif;
}

.before-bg {
  position: relative;
}

.before-bg::before {
  display: block;
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fade-lighter-bg {
  background: linear-gradient(#000, pink);
}

.purple-bg-fade::after {
  display: block;
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#000, transparent 50%);
}

.head-circle {
  background:
    radial-gradient(circle at 50% 150%, #000 0%, rgba(0, 0, 0, 0) 50%),
    radial-gradient(circle at 50% 40%, #feac1f11 0%, rgba(0,0,0,0) 40%);
}

.purple-bg::before {
  min-height: 2000px;
  background: var(--rainbow-bg-purple);
}

.purple-bg-hover {
  position: absolute;
  opacity: 0.5;
  max-height: 500px;
  min-height: 0px;
  height: 500px;
  bottom: auto;
}

.purple-bg-hover:hover {
  opacity: 0.05;
}

.purple-bg-alt::before {
  background: var(--rainbow-bg);
}

/* HTML */

body {
  font-family: -apple-system, 'SF Pro Text', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
    Helvetica, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #000;
  font-size: 14px;
  line-height: 1.3rem;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  pointer-events: none;
  min-height: 100vh;
  font-kerning: auto;
  font-feature-settings: 'liga', 'kern';
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

body * {
  outline: 0;
}

script,
body script {
  display: none;
}

body,
html {
  background: #000;
}

#root {
  pointer-events: auto;
}

@media screen and (pointer: coarse) {
  #root {
    overflow-x: hidden;
    overflow-y: visible;
  }
}

img {
  border: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: red;
  background-color: red;
  transition: background-color 5000s ease-in-out 0s;
}

::selection {
  background: #8c60f8;
  color: #fff;
  text-shadow: none;
}

.theme-home *::selection,
.theme-dark *::selection {
  background: rgba(100, 100, 100, 0.45);
  color: #fff;
  text-shadow: none;
}

*::selection,
.theme-docsPageTheme *::selection,
.theme-light *::selection {
  background: #8c60f8;
  color: #fff;
  text-shadow: none;
}

input,
textarea,
select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

style {
  display: none;
}

a {
  color: lightblue;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

/* reset elements from flex */

a,
span,
em,
b,
strong,
i {
  display: inline;
}

script,
meta,
link {
  display: none;
}

a,
input,
textarea,
select {
  outline: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
br {
  display: block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  white-space: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
code,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

pre,
code {
  margin: 0;
}

code {
  margin: 0;
  padding: 0;
  display: inline-block;
}

img {
  display: block;
}

li {
  display: list-item;
}

p code {
  display: inline-block;
  padding: 0;
}

table {
  display: table;
}
tr {
  display: table-row;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tfoot {
  display: table-footer-group;
}
col {
  display: table-column;
}
colgroup {
  display: table-column-group;
}
td,
th {
  display: table-cell;
}
caption {
  display: table-caption;
}

/* reset mark */
mark {
  background: none;
  color: auto;
}

blockquote {
  margin: 0;
  padding: 0;
}

/* Reset 2.0 */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 16px 0 32px 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.hover-will-transform:hover {
  will-change: transform, opacity;
}

.float-up-down {
  animation-name: float-up-down;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes float-up-down {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, -20px, 0);
  }
}

.transform-origin-tl {
  transform-origin: top left;
}

.transform-origin-tr {
  transform-origin: top right;
}
