<!doctype html>
<html ⚡>
  <head>
    <meta charset="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- links -->

    <% if (process.env.NODE_ENV === 'production') { %>
      <script async defer data-website-id="1f66e585-f8e6-4b25-b855-aac355ad108d" src="https://umami.dishapp.com/umami.js"></script>
    <% } %>
  </head>
  <body>
    <noscript>
      <!-- noscript -->
    </noscript>
    <div id="root">
      <!-- app -->
    </div>
    <div id="modals" style="pointer-events: none;"></div>
    <div id="toasts" style="pointer-events: none;"></div>
    <!-- scripts -->
  </body>
</html>
