<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051275526388-4494g98vbtkhnc1euirq8bnlkbphiogg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051275526388-4494g98vbtkhnc1euirq8bnlkbphiogg</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Rbrg58df6aFY7K-cRxZ2_BwQl63n9ik</string>
	<key>GCM_SENDER_ID</key>
	<string>1051275526388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.motion.dish</string>
	<key>PROJECT_ID</key>
	<string>dish-258800</string>
	<key>STORAGE_BUCKET</key>
	<string>dish-258800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051275526388:ios:6355512240f4c3825d1ea1</string>
	<key>DATABASE_URL</key>
	<string>https://dish-258800.firebaseio.com</string>
</dict>
</plist>