.r-backgroundColor-m2mk55{background-color:rgba(240,250,255,1.00);}
.r-bottom-1p0dtai{bottom:0px;}
.r-flexBasis-1mlwlqe{-ms-flex-preferred-size:auto;-webkit-flex-basis:auto;flex-basis:auto;}
.r-flexDirection-eqz5dr{-ms-flex-direction:column;-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;flex-direction:column;}
.r-left-1d2f490{left:0px;}
.r-overflowX-11yh6sk{overflow-x:hidden;}
.r-overflowY-buy8e9{overflow-y:hidden;}
.r-position-u8s1d{position:absolute;}
.r-right-zchlnj{right:0px;}
.r-top-ipm5af{top:0px;}
.r-borderBottomLeftRadius-shm4j{border-bottom-left-radius:10px;}
.r-borderBottomRightRadius-tabonr{border-bottom-right-radius:10px;}
.r-borderTopLeftRadius-j9b53g{border-top-left-radius:10px;}
.r-borderTopRightRadius-1i97xy8{border-top-right-radius:10px;}
.r-alignItems-1awozwy{-ms-flex-align:center;-webkit-align-items:center;-webkit-box-align:center;align-items:center;}
.r-justifyContent-1777fci{-ms-flex-pack:center;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;}
.r-display-4qtqp9{display:inline-block;}
.r-fontSize-1ra0lkn{font-size:30px;}
.r-backgroundColor-14lw9ot{background-color:rgba(255,255,255,1.00);}
.r-flexGrow-16y2uox{-ms-flex-positive:1;-webkit-box-flex:1;-webkit-flex-grow:1;flex-grow:1;}
.r-flexShrink-1wbh5a2{-ms-flex-negative:1;-webkit-flex-shrink:1;flex-shrink:1;}
.r-pointerEvents-105ug2t{pointer-events:auto;}
.r-backgroundColor-l26x2w{background-color:rgba(238,238,238,1.00);}
.r-paddingBottom-1inuy60{padding-bottom:5px;}
.r-paddingLeft-qhyqy2{padding-left:5px;}
.r-paddingRight-19gegkz{padding-right:5px;}
.r-paddingTop-glunga{padding-top:5px;}
.r-width-13qz1uu{width:100%;}
.r-fontWeight-b88u0q{font-weight:700;}
.r-flexShrink-1q142lx{-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0;}
.r-minHeight-n1gths{min-height:12px;}
.r-minWidth-tl9ukz{min-width:12px;}
.r-paddingBottom-k8qxaj{padding-bottom:20px;}
.r-paddingTop-1knelpx{padding-top:20px;}
.r-flexWrap-1w6e6rj{-ms-flex-wrap:wrap;-webkit-box-lines:multiple;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
.r-fontSize-87bcf5{font-size:80px;}
.r-height-o52ifk{height:100px;}
.r-color-xvpbdx{color:rgba(0,0,0,0.40);}
.r-flexDirection-18u37iz{-ms-flex-direction:row;-webkit-box-direction:normal;-webkit-box-orient:horizontal;-webkit-flex-direction:row;flex-direction:row;}
.r-maxWidth-dnmrzs{max-width:100%;}
.r-paddingLeft-1hfyk0a{padding-left:10px;}
.r-width-1janqcz{width:16px;}
.r-opacity-6dt33c{opacity:1;}
.r-flexGrow-16xksha{-ms-flex-positive:2;-webkit-box-flex:2;-webkit-flex-grow:2;flex-grow:2;}
.r-minWidth-1dfn399{min-width:50%;}
.r-alignSelf-1kihuf0{-ms-flex-item-align:center;-ms-grid-row-align:center;-webkit-align-self:center;align-self:center;}
.r-minWidth-3e7lpq{min-width:100%;}
.r-position-bnwqim{position:relative;}
.r-direction-1r5hsye{direction:horizontal;}
.r-flexGrow-18kxxzh{-ms-flex-positive:0;-webkit-box-flex:0;-webkit-flex-grow:0;flex-grow:0;}
.r-minHeight-1iqfa7g{min-height:1px;}
.r-minWidth-h2mvr{min-width:8px;}
.r-backgroundColor-1xqsgah{background-color:rgba(220,220,220,0.10);}
.r-borderBottomLeftRadius-13c4fz4{border-bottom-left-radius:100px;}
.r-borderBottomRightRadius-1iofnf8{border-bottom-right-radius:100px;}
.r-borderTopLeftRadius-12r24e5{border-top-left-radius:100px;}
.r-borderTopRightRadius-12he9u2{border-top-right-radius:100px;}
.r-height-zx9znk{height:34px;}
.r-width-5orghg{width:34px;}
.r-opacity-17tloay{opacity:0.6;}
.r-opacity-orgf3d{opacity:0;}
.r-pointerEvents-633pao{pointer-events:none;}
.r-zIndex-1q3nxaj{z-index:300;}
.r-alignItems-obd0qt{-ms-flex-align:end;-webkit-align-items:flex-end;-webkit-box-align:end;align-items:flex-end;}
.r-boxShadow-dajpfo{box-shadow:10px 0px 10px rgba(0,0,0,0.08);}
.r-justifyContent-17s6mgv{-ms-flex-pack:end;-webkit-box-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;}
.r-zIndex-mhe3cw{z-index:10;}
.r-height-ey67nc{height:69px;}
.r-zIndex-184en5c{z-index:1;}
.r-marginLeft-1jj8364{margin-left:auto;}
.r-zIndex-1aoxrpj{z-index:400;}
.r-zIndex-bwqyt4{z-index:20000000;}
.r-flexDirection-1euycsn{-ms-flex-direction:row-reverse;-webkit-box-direction:reverse;-webkit-box-orient:horizontal;-webkit-flex-direction:row-reverse;flex-direction:row-reverse;}
.r-justifyContent-1wtj0ep{-ms-flex-pack:justify;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
.r-paddingRight-ry3cjt{padding-right:15px;}
.r-paddingLeft-1vwolk8{padding-left:30px;}
.r-alignSelf-173mn98{-ms-flex-item-align:end;-webkit-align-self:flex-end;align-self:flex-end;}
.r-borderBottomLeftRadius-1wh2hl7{border-bottom-left-radius:6px;}
.r-borderBottomRightRadius-e65k4z{border-bottom-right-radius:6px;}
.r-borderTopLeftRadius-o8yidv{border-top-left-radius:6px;}
.r-borderTopRightRadius-ir6n1k{border-top-right-radius:6px;}
.r-boxShadow-dkto03{box-shadow:0px 3px 20px rgba(0,0,0,0.35);}
.r-marginBottom-d0pm55{margin-bottom:5px;}
.r-marginLeft-1ozfoo7{margin-left:15px;}
.r-marginRight-y3t9qe{margin-right:15px;}
.r-marginTop-1g94qm0{margin-top:5px;}
.r-right-8eqzbf{right:10px;}
.r-zIndex-wj3d7l{z-index:299;}
.r-boxShadow-hkvax1{box-shadow:0px 3px 4px rgba(0,0,0,0.09);}
.r-height-1ugchlj{height:44px;}
.r-width-usgzl9{width:44px;}
.r-minHeight-1jayybb{min-height:49px;}
.r-paddingBottom-l4nmg1{padding-bottom:2px;}
.r-paddingTop-vmopo1{padding-top:2px;}
.r-marginTop-14gqq1x{margin-top:4px;}
.r-zIndex-1jkccha{z-index:450;}
.r-left-12atlq6{left:-6px;}
.r-right-3psxfr{right:-6px;}
.r-top-bnv0mo{top:20%;}
.r-height-ahm1il{height:49px;}
.r-zIndex-1kr7lsr{z-index:12;}
.r-maxWidth-1eey0nk{max-width:1100px;}
.r-boxShadow-12z9rhs{box-shadow:0px 3px 12px rgba(0,0,0,0.25);}
.r-height-h3s6tt{height:48px;}
.r-left-1u10d71{left:1px;}
.r-zIndex-417010{z-index:0;}
.r-width-cmdun7{width:calc(100% - 1px);}
.r-paddingLeft-1m04atk{padding-left:8px;}
.r-paddingRight-1pyaxff{padding-right:8px;}
.r-zIndex-1s3egr7{z-index:100;}
.r-transform-jsasx3{-webkit-transform:translateY(-1px);transform:translateY(-1px);}
.r-borderBottomColor-vgvm5k{border-bottom-color:rgba(0,0,0,0.10);}
.r-borderBottomStyle-rull8r{border-bottom-style:solid;}
.r-borderBottomWidth-wgabs5{border-bottom-width:2px;}
.r-borderTopColor-12rkw8h{border-top-color:rgba(255,255,255,0.20);}
.r-borderTopStyle-1efd50x{border-top-style:solid;}
.r-borderTopWidth-5kkj8d{border-top-width:1px;}
.r-userSelect-lrvibr{-moz-user-select:none;-ms-user-select:none;-webkit-user-select:none;user-select:none;}
.r-flexGrow-6rm143{-ms-flex-positive:1.5;-webkit-box-flex:1.5;-webkit-flex-grow:1.5;flex-grow:1.5;}
.r-minHeight-1kb4jnz{min-height:6px;}
.r-minWidth-1c0b7m9{min-width:6px;}
.r-minWidth-1qkazl5{min-width:310px;}
.r-width-12gsd0e{width:19%;}
.r-height-18yzcnr{height:22px;}
.r-width-yc9v9c{width:22px;}
.r-zIndex-1bvvh7j{z-index:301;}
.r-paddingRight-rnv2vh{padding-right:30px;}
.r-top-1ki14p2{top:10px;}
.r-top-32mpls{top:64px;}
.r-contain-1ckyv4a{contain:layout;}
.r-backgroundColor-1g6456j{background-color:rgba(255,0,0,1.00);}
.r-color-jwli3a{color:rgba(255,255,255,1.00);}
.r-backgroundColor-fugd4j{background-color:rgba(139,0,0,1.00);}
.r-paddingBottom-19yat4t{padding-bottom:15px;}
.r-paddingLeft-1yt7n81{padding-left:15px;}
.r-paddingTop-1qxgc49{padding-top:15px;}
.r-height-1pi2tsx{height:100%;}
.r-backgroundColor-mfzc6t{background-color:rgba(0,0,0,0.10);}
.r-paddingLeft-gy4na3{padding-left:0px;}
.r-paddingRight-9aemit{padding-right:0px;}
.r-paddingTop-wk8lta{padding-top:0px;}
.r-backgroundColor-1niwhzg{background-color:rgba(0,0,0,0.00);}
.r-paddingTop-m611by{padding-top:10px;}
.r-maxHeight-3z9gw1{max-height:90%;}
.r-backgroundColor-1b43gak{background-color:rgba(0,0,0,0.90);}
.r-boxShadow-cc304h{box-shadow:0px 0px 18px rgba(0,0,0,0.40);}
.r-height-16l9doz{height:auto;}
.r-minHeight-ql8eny{min-height:200px;}
.r-borderBottomLeftRadius-pm2fo{border-bottom-left-radius:0px;}
.r-borderBottomRightRadius-zmljjp{border-bottom-right-radius:0px;}
.r-borderTopLeftRadius-ou6ah9{border-top-left-radius:0px;}
.r-borderTopRightRadius-t12b5v{border-top-right-radius:0px;}
.r-marginRight-zso239{margin-right:10px;}
.r-fontSize-adyw6z{font-size:20px;}
.r-fontSize-ubezar{font-size:16px;}
.r-fontWeight-1kfrs79{font-weight:600;}
.r-textOverflow-1udbk01{text-overflow:ellipsis;}
.r-whiteSpace-3s2u2q{white-space:nowrap;}
.r-minHeight-461dsm{min-height:4px;}
.r-minWidth-h6r2zm{min-width:4px;}
.r-color-1rqp49e{color:rgba(255,255,255,0.50);}
.r-fontSize-1enofrn{font-size:12px;}
.r-minWidth-60vfwk{min-width:1px;}
.r-height-1ph75f1{height:80px;}
.r-marginLeft-1f6r7vd{margin-left:5px;}
.r-marginRight-7o8qx1{margin-right:5px;}
.r-width-1glkqn6{width:80px;}
.r-backgroundColor-9tfo2e-ho:hover{background-color:rgba(255,255,255,0.30);}
.r-fontSize-xb2eav{font-size:40px;}
.r-textAlign-q4m81j{text-align:center;}
.r-minHeight-1ijha98{min-height:8px;}
.r-bottom-wuw1bi{bottom:-20px;}
.r-right-1ochu93{right:-20px;}
.r-transform-1ixpv7z{-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
.r-fontSize-18i18we{font-size:60px;}
.r-left-67i7yn{left:-20px;}
.r-transform-r11ccm{-webkit-transform:rotate(10deg);transform:rotate(10deg);}
.r-marginBottom-5oul0u{margin-bottom:8px;}
.r-marginTop-knv0ih{margin-top:8px;}
.r-opacity-5m1il8{opacity:0.1;}
.r-width-6e0ovw{width:80%;}
.r-color-1a7l8x0{color:rgba(255,255,255,0.60);}
.r-fontSize-199q3bu{font-size:19.2px;}
.r-fontWeight-1od2jal{font-weight:300;}
.r-lineHeight-zzgwgq{line-height:31.223999999999997px;}
.r-marginBottom-1wrf3v2{margin-bottom:-2.4979199999999997px;}
.r-marginTop-1pk321z{margin-top:-2.4979199999999997px;}
.r-userSelect-1xnzce8{-moz-user-select:-webkit-text;-moz-user-select:text;-ms-user-select:-webkit-text;-ms-user-select:text;-webkit-user-select:-webkit-text;-webkit-user-select:text;user-select:-webkit-text;user-select:text;}
.r-color-kpc20e{color:rgba(255,255,255,0.80);}
.r-fontWeight-majxgm{font-weight:500;}
.r-lineHeight-167vabe{line-height:26.418px;}
.r-marginBottom-1xbxjam{margin-bottom:-2.1134399999999998px;}
.r-marginTop-nb64ue{margin-top:-2.1134399999999998px;}
.r-paddingLeft-1fa7q6m{padding-left:10%;}
.r-paddingRight-1i2a532{padding-right:10%;}
.r-contain-8wrwi5{contain:strict;}
.r-right-gb6tlu{right:30px;}
.r-top-12pp1o0{top:5px;}
.r-marginBottom-1y8qy0p{margin-bottom:-15px;}
.r-marginTop-nidxtk{margin-top:-15px;}
.r-paddingBottom-1mdbw0j{padding-bottom:0px;}
.r-alignItems-1habvwh{-ms-flex-align:start;-webkit-align-items:flex-start;-webkit-box-align:start;align-items:flex-start;}
.r-flexGrow-1erosmm{-ms-flex-positive:10;-webkit-box-flex:10;-webkit-flex-grow:10;flex-grow:10;}
.r-justifyContent-1h0z5md{-ms-flex-pack:start;-webkit-box-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;}
.r-marginTop-nydnoy{margin-top:-12px;}
.r-paddingBottom-ibla3m{padding-bottom:300px;}
.r-width-1f720gc{width:50%;}
.r-backgroundColor-qbkf1c{background-color:rgba(60,30,50,0.90);}
.r-paddingBottom-ymm04j{padding-bottom:2%;}
.r-paddingLeft-ozhjbg{padding-left:2%;}
.r-paddingRight-1lw2p1q{padding-right:2%;}
.r-paddingTop-135khen{padding-top:2%;}
.r-transform-1wpzndr{-webkit-transform:translateY(0px);transform:translateY(0px);}
.r-zIndex-1l9bvml{z-index:10000000000;}
.r-borderBottomLeftRadius-12xpxxj{border-bottom-left-radius:25px;}
.r-borderBottomRightRadius-1fezdiu{border-bottom-right-radius:25px;}
.r-borderBottomWidth-qklmqi{border-bottom-width:1px;}
.r-borderLeftStyle-mm0ijv{border-left-style:solid;}
.r-borderLeftWidth-1ljd8xs{border-left-width:1px;}
.r-borderRightStyle-14skgim{border-right-style:solid;}
.r-borderRightWidth-13l2t4g{border-right-width:1px;}
.r-borderTopLeftRadius-13hkvm{border-top-left-radius:25px;}
.r-borderTopRightRadius-7r9k5l{border-top-right-radius:25px;}
.r-boxShadow-1wnbe91{box-shadow:0px 10px 150px rgba(0,0,0,1.00);}
.r-paddingBottom-1t2hasf{padding-bottom:18px;}
.r-paddingLeft-qi0n3{padding-left:18px;}
.r-paddingRight-c9eks5{padding-right:18px;}
.r-paddingTop-131miar{padding-top:18px;}
.r-minHeight-2llsf{min-height:100%;}
.r-marginBottom-1dykn21{margin-bottom:-10px;}
.r-marginTop-ymp9ed{margin-top:-10px;}
.r-borderBottomColor-1fn3lry{border-bottom-color:rgba(238,238,238,1.00);}
.r-borderLeftColor-1sgu7fw{border-left-color:rgba(238,238,238,1.00);}
.r-borderRightColor-dhdqoo{border-right-color:rgba(238,238,238,1.00);}
.r-borderTopColor-18grtmt{border-top-color:rgba(238,238,238,1.00);}
.r-paddingLeft-1hjiqno{padding-left:45px;}
.r-paddingRight-1fqrqy8{padding-right:45px;}
.r-minHeight-1ceczpf{min-height:24px;}
.r-minWidth-lp5zef{min-width:24px;}
.r-alignSelf-1pz39u2{-ms-flex-item-align:stretch;-ms-grid-row-align:stretch;-webkit-align-self:stretch;align-self:stretch;}
.r-marginLeft-htfu76{margin-left:-8px;}
.r-color-howw7u{color:rgba(255,0,0,1.00);}
.r-maxWidth-5hg35f{max-width:880px;}
.r-width-1mdsvnl{width:95%;}
.r-maxHeight-1tsuqlv{max-height:100vh;}
.r-maxWidth-7h7f8p{max-width:100vw;}
.r-maxHeight-pm9dpa{max-height:100%;}
.r-paddingBottom-1mi0q7o{padding-bottom:10px;}
.r-paddingRight-1qfoi16{padding-right:10px;}
.r-borderBottomLeftRadius-re1h2s{border-bottom-left-radius:5px;}
.r-borderBottomRightRadius-qpmf2f{border-bottom-right-radius:5px;}
.r-borderTopLeftRadius-1as3g83{border-top-left-radius:5px;}
.r-borderTopRightRadius-dfv94e{border-top-right-radius:5px;}
.r-cursor-7q8q6z{cursor:default;}
.r-paddingBottom-iphfwy{padding-bottom:4px;}
.r-paddingLeft-m2pi6t{padding-left:4px;}
.r-paddingRight-1hvjb8t{padding-right:4px;}
.r-paddingTop-1h8ys4a{padding-top:4px;}
.r-backgroundColor-l26x2w-ho:hover{background-color:rgba(238,238,238,1.00);}
.r-fontSize-yy2aun{font-size:26px;}
.r-lineHeight-135wba7{line-height:24px;}
.r-marginBottom-15d164r{margin-bottom:10px;}
.r-fontSize-n6v787{font-size:13px;}
.r-backgroundColor-v6hov3{background-color:rgba(246,221,204,1.00);}
.r-backgroundColor-z438zh{background-color:rgba(220,241,229,1.00);}
.r-height-mabqd8{height:32px;}
.r-paddingBottom-12rqra3{padding-bottom:6px;}
.r-paddingLeft-1ss6j8a{padding-left:6px;}
.r-paddingRight-1qortcd{padding-right:6px;}
.r-paddingTop-13gvty3{padding-top:6px;}
.r-backgroundColor-n2h5ot-ho:hover{background-color:rgba(242,242,242,1.00);}
.r-color-181mada{color:rgba(202,51,102,1.00);}
.r-transform-5lc1v{-webkit-transform:scale(0.8) translateX(15px) translateY(15px);transform:scale(0.8) translateX(15px) translateY(15px);}
.r-borderBottomLeftRadius-13p2g89{border-bottom-left-radius:200px;}
.r-borderBottomRightRadius-swxykl{border-bottom-right-radius:200px;}
.r-borderTopLeftRadius-e0hkfp{border-top-left-radius:200px;}
.r-borderTopRightRadius-wkntlu{border-top-right-radius:200px;}
.r-boxShadow-5hneiv{box-shadow:0px 3px 18px rgba(0,0,0,0.20);}
.r-cursor-1loqt21{cursor:pointer;}
.r-height-1k9zyfm{height:70px;}
.r-marginTop-156q2ks{margin-top:10px;}
.r-transform-eug0r7{-webkit-transform:scale(1);transform:scale(1);}
.r-width-1ey2ra3{width:70px;}
.r-transform-11jusxq-fo.r-transform-11jusxq-fo:focus{-webkit-transform:scale(0.9);transform:scale(0.9);}
.r-transform-jmul1s-ho:hover{-webkit-transform:scale(1.1);transform:scale(1.1);}
.r-display-hvic4v{display:none;}
.r-backgroundColor-5zmot{background-color:rgba(0,0,0,0.65);}
.r-paddingBottom-lgpkq{padding-bottom:7px;}
.r-paddingLeft-1j3zfw3{padding-left:11px;}
.r-paddingRight-mszm1p{padding-right:11px;}
.r-paddingTop-k5i03q{padding-top:7px;}
.r-fontWeight-16dba41{font-weight:400;}
.r-opacity-icxjq6{opacity:0.85;}
.r-backgroundColor-77h22j{background-color:rgba(153,153,153,1.00);}
.r-borderBottomLeftRadius-qil8wd{border-bottom-left-radius:1000px;}
.r-borderBottomRightRadius-1r0swdl{border-bottom-right-radius:1000px;}
.r-borderTopLeftRadius-1qelggl{border-top-left-radius:1000px;}
.r-borderTopRightRadius-3lwb2g{border-top-right-radius:1000px;}
.r-paddingBottom-3hmvjm{padding-bottom:3px;}
.r-paddingLeft-1dsia8u{padding-left:3px;}
.r-paddingRight-wsh07t{padding-right:3px;}
.r-paddingTop-15zeulg{padding-top:3px;}
.r-backgroundColor-c8f5pn{background-color:rgba(255,255,255,0.10);}
.r-height-109y4c4{height:1px;}
.r-height-1kl1mp1{height:250px;}
.r-minWidth-ek4qxl{min-width:260px;}
.r-color-qitnze{color:rgba(246,221,204,1.00);}
.r-paddingBottom-z7lthc{padding-bottom:60px;}
.r-paddingLeft-b5h31w{padding-left:20px;}
.r-paddingRight-1ah4tor{padding-right:20px;}
.r-height-1iud8zs{height:50px;}
.r-width-ttb5dx{width:50px;}
.r-lineHeight-waer2z{line-height:25px;}
.r-backgroundColor-kemksi{background-color:rgba(0,0,0,1.00);}
.r-borderBottomColor-1ot5wcu{border-bottom-color:rgba(202,51,102,0.53);}
.r-borderLeftColor-i3t1p6{border-left-color:rgba(202,51,102,0.53);}
.r-borderRightColor-1agdp3x{border-right-color:rgba(202,51,102,0.53);}
.r-borderTopColor-q9rw6w{border-top-color:rgba(202,51,102,0.53);}
.r-borderBottomLeftRadius-keui8w{border-bottom-left-radius:12px;}
.r-borderBottomRightRadius-j9nkxj{border-bottom-right-radius:12px;}
.r-borderTopLeftRadius-chstv{border-top-left-radius:12px;}
.r-borderTopRightRadius-1nlznlq{border-top-right-radius:12px;}
.r-boxShadow-1c9yp1w{box-shadow:0px 0px 14px rgba(0,0,0,0.13);}
.r-borderBottomLeftRadius-hsse2k{border-bottom-left-radius:60px;}
.r-borderBottomRightRadius-1rployg{border-bottom-right-radius:60px;}
.r-borderTopLeftRadius-1w3wkrw{border-top-left-radius:60px;}
.r-borderTopRightRadius-12h0h2t{border-top-right-radius:60px;}
.r-marginLeft-z88o2r{margin-left:-60px;}
.r-marginRight-1mf7evn{margin-right:20px;}
.r-paddingLeft-16sfdwh{padding-left:60px;}
.r-color-cc4kyd{color:rgba(153,153,153,1.00);}
.r-fontSize-ronm98{font-size:17.6px;}
.r-lineHeight-incuvf{line-height:28.556000000000004px;}
.r-marginBottom-1luqt6n{margin-bottom:-2.2844800000000003px;}
.r-marginTop-1ptm81r{margin-top:-2.2844800000000003px;}
.r-paddingLeft-1u936jj{padding-left:5%;}
.r-paddingRight-1a6n0ax{padding-right:5%;}
.r-color-1q83ghk{color:rgba(0,0,0,0.88);}
.r-fontSize-1x35g6{font-size:24px;}
.r-lineHeight-z8enw1{line-height:39.3px;}
.r-marginBottom-jod1tv{margin-bottom:-3.1439999999999997px;}
.r-marginTop-m86an1{margin-top:-3.1439999999999997px;}
.r-display-1471scf{display:inline;}
.r-lineHeight-1kp15no{line-height:32.5625px;}
.r-marginBottom-g4q96y{margin-bottom:-2.605px;}
.r-marginTop-1kwfbq7{margin-top:-2.605px;}
.r-fontStyle-36ujnk{font-style:italic;}
.r-bottom-1lmdlv2{bottom:34px;}
.r-height-ipapk1{height:125px;}
.r-right-r19jdo{right:15px;}
.r-transform-cfi4rf{-webkit-transform:rotate(12deg);transform:rotate(12deg);}
.r-width-1d5g5cr{width:125px;}
.r-bottom-1by1ycs{bottom:-2px;}
.r-top-8jfcpp{top:-2px;}
.r-zIndex-ub8aoi{z-index:1000000;}
.r-zIndex-1wyyakw{z-index:-1;}
.r-zIndex-n9cwzm{z-index:100000000000;}
.r-minWidth-ix9obb{min-width:540px;}
.r-borderTopLeftRadius-1n0n9yc{border-top-left-radius:15px;}
.r-borderTopRightRadius-1g4ueg6{border-top-right-radius:15px;}
.r-lineHeight-1gvhk8w{line-height:42px;}
.r-minWidth-18qmn74{min-width:30px;}
.r-borderBottomColor-oucylx{border-bottom-color:rgba(0,0,0,0.00);}
.r-borderLeftColor-855088{border-left-color:rgba(0,0,0,0.00);}
.r-borderRightColor-114ovsg{border-right-color:rgba(0,0,0,0.00);}
.r-borderTopColor-1c1gj4h{border-top-color:rgba(0,0,0,0.00);}
.r-boxShadow-9ymr7g{box-shadow:0px 2px 8px rgba(0,0,0,0.10);}
.r-height-1a8msfu{height:38px;}
.r-width-131xog0{width:38px;}
.r-borderBottomColor-19w9ixl-ho:hover{border-bottom-color:rgba(170,170,170,1.00);}
.r-borderLeftColor-1x20lhr-ho:hover{border-left-color:rgba(170,170,170,1.00);}
.r-borderRightColor-1kjfut0-ho:hover{border-right-color:rgba(170,170,170,1.00);}
.r-borderTopColor-1qumsjt-ho:hover{border-top-color:rgba(170,170,170,1.00);}
.r-color-1u8cipt{color:rgba(0,0,0,0.70);}
.r-display-xoduu5{display:-webkit-inline-box;display:-moz-inline-box;display:-ms-inline-flexbox;display:-webkit-inline-flex;display:inline-flex;}
.r-lineHeight-rjixqe{line-height:20px;}
.r-marginBottom-an08cn{margin-bottom:-2px;}
.r-marginLeft-1m7fwk6{margin-left:-2px;}
.r-marginRight-1t0rgn2{margin-right:-2px;}
.r-marginTop-1bq57o9{margin-top:-2px;}
.r-paddingLeft-f727ji{padding-left:12px;}
.r-paddingRight-j2kj52{padding-right:12px;}
.r-fontSize-1b43r93{font-size:14px;}
.r-lineHeight-eaezby{line-height:26px;}
.r-fontSize-1gkfh8e{font-size:11px;}
.r-borderRightColor-y47xfd{border-right-color:rgba(221,221,221,1.00);}
.r-maxWidth-14qjzug{max-width:250px;}
.r-minWidth-11v9fek{min-width:180px;}
.r-marginBottom-70510l{margin-bottom:-20px;}
.r-zIndex-1sg8ghl{z-index:1000;}
.r-marginLeft-1n0xq6e{margin-left:10px;}
.r-minWidth-1to9yos{min-width:300px;}
.r-flexWrap-tzz3ar{-ms-flex-wrap:nowrap;-webkit-box-lines:nowrap;-webkit-flex-wrap:nowrap;flex-wrap:nowrap;}
.r-borderBottomWidth-ndvcnb{border-bottom-width:0px;}
.r-borderLeftWidth-gxnn5r{border-left-width:0px;}
.r-borderRightWidth-fnigne{border-right-width:0px;}
.r-borderTopWidth-13yce4e{border-top-width:0px;}
.r-maxWidth-hvns9x{max-width:400px;}
.r-maxWidth-7iovht{max-width:336px;}
.r-alignItems-1oszu61{-ms-flex-align:stretch;-webkit-align-items:stretch;-webkit-box-align:stretch;align-items:stretch;}
.r-backgroundColor-1jwmk5j{background-color:rgba(170,170,170,1.00);}
.r-backgroundColor-57dg7b{background-color:rgba(0,0,255,1.00);}
.r-color-cqee49{color:rgba(0,0,0,1.00);}
.r-borderBottomColor-5w3kjk{border-bottom-color:rgba(221,221,221,1.00);}
.r-minHeight-1vsu8ta{min-height:30px;}
.r-paddingLeft-nk90ef{padding-left:2px;}
.r-paddingRight-14q5wjw{padding-right:2px;}
.r-direction-si9nfs{direction:vertical;}
.r-borderBottomColor-xwzi2g{border-bottom-color:rgba(255,255,255,0.15);}
.r-borderBottomLeftRadius-1xzy9bc{border-bottom-left-radius:9px;}
.r-borderBottomRightRadius-8zxnj4{border-bottom-right-radius:9px;}
.r-borderLeftColor-4tzp19{border-left-color:rgba(255,255,255,0.15);}
.r-borderLeftWidth-dwliz8{border-left-width:2px;}
.r-borderRightColor-5qarq7{border-right-color:rgba(255,255,255,0.15);}
.r-borderRightWidth-18p6if4{border-right-width:2px;}
.r-borderTopColor-suh6em{border-top-color:rgba(255,255,255,0.15);}
.r-borderTopLeftRadius-ezlblh{border-top-left-radius:9px;}
.r-borderTopRightRadius-zxoaeb{border-top-right-radius:9px;}
.r-borderTopWidth-1jxfwug{border-top-width:2px;}
.r-borderBottomColor-1i022j5-ho:hover{border-bottom-color:rgba(255,255,255,0.30);}
.r-borderLeftColor-15eow53-ho:hover{border-left-color:rgba(255,255,255,0.30);}
.r-borderRightColor-1w3s9wx-ho:hover{border-right-color:rgba(255,255,255,0.30);}
.r-borderTopColor-11f1m4h-ho:hover{border-top-color:rgba(255,255,255,0.30);}
.r-fontSize-1i10wst{font-size:18px;}
.r-marginTop-19i43ro{margin-top:-1px;}
.r-marginBottom-efb0ki{margin-bottom:-3px;}
.r-opacity-1g80hic{opacity:0.8;}
.r-overflowX-okxjgd{overflow-x:visible;}
.r-overflowY-ipc04b{overflow-y:visible;}
.r-width-30z84g{width:33%;}
.r-marginBottom-wr9vkk{margin-bottom:3px;}
.r-textAlign-fdjqy7{text-align:left;}
.r-minHeight-1ii58gl{min-height:34px;}
.r-marginBottom-1qahzrx{margin-bottom:auto;}
.r-marginRight-lchren{margin-right:auto;}
.r-marginTop-1t01tom{margin-top:auto;}
.r-color-1bo5ta7{color:rgba(0,0,0,0.60);}
.r-marginRight-1b7u577{margin-right:12px;}
.r-borderBottomLeftRadius-u0ci3n{border-bottom-left-radius:20px;}
.r-borderBottomRightRadius-1hd4d43{border-bottom-right-radius:20px;}
.r-borderTopLeftRadius-f1w8kp{border-top-left-radius:20px;}
.r-borderTopRightRadius-cqzzvf{border-top-right-radius:20px;}
.r-marginBottom-v55p34{margin-bottom:-8px;}
.r-marginLeft-107b01s{margin-left:-11px;}
.r-marginRight-vuj4bt{margin-right:-11px;}
.r-marginTop-1ji8njp{margin-top:-8px;}
.r-paddingBottom-xd6kpl{padding-bottom:8px;}
.r-paddingTop-tskmnb{padding-top:8px;}
.r-bottom-1ms9ukt{bottom:-5px;}
.r-left-dngjjt{left:-8px;}
.r-top-jvuzdy{top:-5px;}
.r-fontSize-uho16t{font-size:34px;}
.r-transform-yqxfod{-webkit-transform:rotate(-12deg);transform:rotate(-12deg);}
.r-width-lrsllp{width:24px;}
.r-boxShadow-1tpz28{box-shadow:0px 3px 14px rgba(0,0,0,0.13);}
.r-minHeight-h3f8nf{min-height:100px;}
.r-opacity-icoktb{opacity:0.5;}
.r-paddingBottom-kzbkwu{padding-bottom:12px;}
.r-paddingTop-ttdzmv{padding-top:12px;}
.r-lineHeight-oftir0{line-height:25.9px;}
.r-marginBottom-7b8l2w{margin-bottom:-2.072px;}
.r-marginTop-v8s0ry{margin-top:-2.072px;}
.r-minHeight-sgkdzr{min-height:16px;}
.r-minWidth-285fr0{min-width:16px;}
.r-fontSize-5ghkx1{font-size:14.4px;}
.r-lineHeight-4ad7ug{line-height:23.256px;}
.r-marginBottom-159b8gc{margin-bottom:-1.8604800000000001px;}
.r-marginTop-97ukod{margin-top:-1.8604800000000001px;}
.r-maxWidth-1l80t9b{max-width:940px;}
.r-height-erd55g{height:300px;}
.r-height-1w2pmg{height:0px;}
.r-borderBottomLeftRadius-1pp923h{border-bottom-left-radius:16px;}
.r-borderBottomRightRadius-1moyyf3{border-bottom-right-radius:16px;}
.r-borderTopLeftRadius-c67a83{border-top-left-radius:16px;}
.r-borderTopRightRadius-1qk6wnv{border-top-right-radius:16px;}
.r-boxShadow-1yq1pjj{box-shadow:0px 0px 0px rgba(0,0,0,0.08);}
.r-boxShadow-6whxi5{box-shadow:0px 0px 6px rgba(0,0,0,0.08);}
.r-boxShadow-x7r6ot{box-shadow:0px 0px 10px rgba(0,0,0,0.08);}
.r-left-14a9v6n{left:auto;}
.r-minWidth-pfqljz{min-width:200px;}
.r-lineHeight-qvk6io{line-height:0px;}
.r-alignContent-uia4a0{-ms-flex-line-pack:center;-webkit-align-content:center;align-content:center;}
.r-display-6koalj{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;}
.r-height-1k25im9{height:26px;}
.r-opacity-ojff56{opacity:0.35;}
.r-width-19tjxh9{width:26px;}
.r-right-1c7ggc8{right:-2px;}
.r-top-1wrvin1{top:-9px;}
.r-marginLeft-1imd94c{margin-left:-10px;}
.r-opacity-6dt33c-ho:hover{opacity:1;}
.r-marginLeft-13hce6t{margin-left:4px;}
.r-opacity-nzoivv{opacity:0.65;}
.r-height-z80fyv{height:20px;}
.r-width-5soawk{width:10px;}
.r-minWidth-yyi8gd{min-width:78.7%;}
.r-minHeight-15ysp7h{min-height:32px;}
.r-minWidth-4wgw6l{min-width:32px;}
.r-minHeight-yfq7p9{min-height:10px;}
.r-minWidth-t66pp7{min-width:10px;}
.r-height-atnv13{height:160px;}
.r-paddingLeft-1o2uf1i{padding-left:2.5%;}
.r-paddingRight-btllop{padding-right:2.5%;}
.r-minHeight-bt1l66{min-height:20px;}
.r-minWidth-i61hcz{min-width:20px;}
.r-fontSize-zz5t5d{font-size:28px;}
.r-fontWeight-vw2c0b{font-weight:bold;}
.r-color-1862ga2{color:rgba(119,119,119,1.00);}
.r-height-1scr2wp{height:497px;}
.r-marginBottom-9nq8uy{margin-bottom:-100px;}
.r-marginTop-6k4xqk{margin-top:-40px;}
.r-transform-zexzw7-ho:hover{-webkit-transform:scale(1.05);transform:scale(1.05);}
.r-marginBottom-117bsoe{margin-bottom:20px;}
.r-height-5fjp4n{height:320px;}
.r-right-bkzabb{right:-10%;}
.r-top-j33s3c{top:-120px;}
.r-transform-dc06t6{-webkit-transform:rotate(-2deg);transform:rotate(-2deg);}
.r-width-13rcgdp{width:2000px;}
.r-paddingTop-10iw8no{padding-top:28px;}
.r-maxHeight-142ium{max-height:110px;}
.r-width-l0gwng{width:200px;}
.r-color-v258g{color:rgba(0,0,0,0.50);}
.r-backgroundColor-17mkn84{background-color:rgba(220,234,255,0.25);}
.r-bottom-158hm4g{bottom:-15px;}
.r-left-rd9nti{left:-100px;}
.r-right-1ovysn0{right:-100px;}
.r-top-1xhx8ir{top:-15px;}
.r-lineHeight-vrz42v{line-height:28px;}
.r-paddingRight-85oauj{padding-right:32px;}
.r-lineHeight-1oz5sp0{line-height:5px;}
.r-marginLeft-9cviqr{margin-left:2px;}
.r-marginTop-1bymd8e{margin-top:2px;}
.r-top-h7zev3{top:14px;}
.r-paddingBottom-1sv84sj{padding-bottom:30px;}
.r-zIndex-1sg8ghl-ho:hover{z-index:1000;}
.r-height-1rm1xue{height:135px;}
.r-width-4xazgd{width:210px;}
.r-height-7r4507{height:150px;}
.r-paddingBottom-gjda0u{padding-bottom:100px;}
.r-paddingTop-oejqat{padding-top:100px;}
.r-fontSize-evnaw{font-size:22px;}
.r-letterSpacing-icto9i{letter-spacing:-0.5px;}
.r-marginRight-61z16t{margin-right:0px;}
.r-minHeight-dg7iqi{min-height:600px;}
.r-height-cqilzk{height:400px;}
.r-minHeight-1xfddsp{min-height:300px;}
.r-minHeight-ero68b{min-height:40px;}
.r-minWidth-vkv6oe{min-width:40px;}
.r-minWidth-1y50co4{min-width:240px;}
.r-backgroundColor-17c3jg3{background-color:rgba(0,0,0,0.80);}
.r-boxShadow-wtdq4m{box-shadow:0px 3px 10px rgba(0,0,0,0.35);}
.r-marginTop-19h5ruw{margin-top:15px;}
.r-maxWidth-2x0znm{max-width:98%;}
.r-right-117jbs9{right:-10px;}
.r-top-1w59yr1{top:-10px;}
.r-flexGrow-1gwnw1c{-ms-flex-positive:5;-webkit-box-flex:5;-webkit-flex-grow:5;flex-grow:5;}
.r-marginBottom-15zivkp{margin-bottom:4px;}
.r-paddingBottom-72n57r{padding-bottom:5%;}
.r-paddingTop-qstxrp{padding-top:5%;}
.r-boxShadow-1lpexh{box-shadow:0px 10px 40px rgba(0,0,0,0.35);}
.r-color-12xjm7r{color:rgba(150,150,150,0.50);}
.r-color-1yis5wz{color:rgba(204,204,204,1.00);}
.r-marginBottom-p1pxzi{margin-bottom:0px;}
.r-paddingLeft-chftdy{padding-left:9px;}
.r-paddingRight-fupfwf{padding-right:9px;}
.r-lineHeight-hbpseb{line-height:22px;}
.r-color-djgu52{color:rgba(102,102,102,1.00);}
.r-fontWeight-aruset{font-weight:200;}
.r-borderBottomLeftRadius-1i9ubto{border-bottom-left-radius:15px;}
.r-borderBottomRightRadius-sj9tmm{border-bottom-right-radius:15px;}
.r-boxShadow-rkhjfr{box-shadow:0px 0px 40px rgba(0,0,0,0.50);}
.r-backgroundColor-1542mo4{background-color:rgba(0,128,0,1.00);}
.r-backgroundColor-1x31b7q{background-color:rgba(0,0,0,0.05);}
.r-borderBottomLeftRadius-44c749{border-bottom-left-radius:7px;}
.r-borderBottomRightRadius-py1axk{border-bottom-right-radius:7px;}
.r-borderTopLeftRadius-bxaprw{border-top-left-radius:7px;}
.r-borderTopRightRadius-1ioqa4e{border-top-right-radius:7px;}
.r-backgroundColor-lfaovh{background-color:rgba(0,0,0,0.02);}
.r-borderBottomColor-1h72vht{border-bottom-color:rgba(150,150,150,0.50);}
.r-borderLeftColor-ha2wk7{border-left-color:rgba(150,150,150,0.50);}
.r-borderRightColor-skegzm{border-right-color:rgba(150,150,150,0.50);}
.r-borderTopColor-7z5h14{border-top-color:rgba(150,150,150,0.50);}
.r-borderBottomColor-am5ikd-ho:hover{border-bottom-color:rgba(150,150,150,0.80);}
.r-borderLeftColor-jpya7e-ho:hover{border-left-color:rgba(150,150,150,0.80);}
.r-borderRightColor-1onl8pq-ho:hover{border-right-color:rgba(150,150,150,0.80);}
.r-borderTopColor-1w0kvoq-ho:hover{border-top-color:rgba(150,150,150,0.80);}
.r-borderBottomLeftRadius-1dc6fhg{border-bottom-left-radius:100000000000px;}
.r-borderBottomRightRadius-11t3v3o{border-bottom-right-radius:100000000000px;}
.r-borderTopLeftRadius-82gfbr{border-top-left-radius:100000000000px;}
.r-borderTopRightRadius-iszaty{border-top-right-radius:100000000000px;}
.r-alignSelf-k200y{-ms-flex-item-align:start;-webkit-align-self:flex-start;align-self:flex-start;}
.r-backgroundColor-1rli4d4{background-color:rgba(150,150,150,0.05);}
.r-backgroundColor-15q7hn7{background-color:rgba(100,100,100,0.50);}
.r-height-3da1kt{height:8px;}
.r-width-cfp7ip{width:60px;}
.r-backgroundColor-1ytn7e7-ho:hover{background-color:rgba(200,200,200,0.65);}
.r-width-9dcw1g{width:320px;}
.r-width-1xce0ei{width:25%;}
.r-marginRight-1d48tmi{margin-right:-10px;}
.r-backgroundColor-19fu0aa{background-color:rgba(247,247,247,1.00);}
.r-left-qsh48c{left:-35px;}
.r-top-1nd9uzx{top:-20px;}
.r-opacity-1oec5bt{opacity:0.2;}
.r-backgroundColor-n2h5ot{background-color:rgba(242,242,242,1.00);}
.r-marginLeft-1jkjb{margin-left:8px;}
.r-minWidth-bgnin{min-width:150px;}
.r-fontSize-a023e6{font-size:15px;}
.r-marginRight-a5pmau{margin-right:2px;}
.r-minWidth-1baxesd{min-width:50px;}
.r-width-9l47p7{width:10%;}
.r-minWidth-9jpwak{min-width:auto;}
.r-width-iyfy8q{width:auto;}
.r-borderBottomLeftRadius-lkwxdu{border-bottom-left-radius:18px;}
.r-borderBottomRightRadius-1npgmsh{border-bottom-right-radius:18px;}
.r-borderTopLeftRadius-1x9icot{border-top-left-radius:18px;}
.r-borderTopRightRadius-5dcqqe{border-top-right-radius:18px;}
.r-paddingBottom-1uwte3a{padding-bottom:40px;}
.r-paddingLeft-116b19x{padding-left:40px;}
.r-paddingRight-kls4rr{padding-right:40px;}
.r-paddingTop-1ur9v65{padding-top:40px;}
.r-borderBottomColor-170gynj{border-bottom-color:rgba(242,242,242,1.00);}
.r-paddingRight-rxv8e4{padding-right:60px;}
.r-backgroundColor-1ffwwyx{background-color:rgba(252,243,207,1.00);}
.r-borderBottomColor-btzd1j{border-bottom-color:rgba(232,220,173,1.00);}
.r-borderBottomWidth-r7j6xl{border-bottom-width:4px;}
.r-borderLeftColor-jn5ej4{border-left-color:rgba(232,220,173,1.00);}
.r-borderLeftWidth-119zq30{border-left-width:4px;}
.r-borderRightColor-zuxr2k{border-right-color:rgba(232,220,173,1.00);}
.r-borderRightWidth-gg9v3n{border-right-width:4px;}
.r-borderTopColor-27nmgh{border-top-color:rgba(232,220,173,1.00);}
.r-borderTopWidth-eujbse{border-top-width:4px;}
.r-boxShadow-1czy4em{box-shadow:0px 2px 5px rgba(0,0,0,0.10);}
.r-height-15zx4ds{height:360px;}
.r-width-y46g1k{width:240px;}
.r-left-1nj16ve{left:-10px;}
.r-zIndex-wc24c3{z-index:20;}
.r-fontWeight-1vr29t4{font-weight:800;}
.r-backgroundColor-1akh274{background-color:rgba(184,224,243,0.20);}
.r-paddingLeft-b2dl2{padding-left:25px;}
.r-paddingRight-mzjzbw{padding-right:25px;}
.r-backgroundColor-1akh274-ho:hover{background-color:rgba(184,224,243,0.20);}
.r-maxHeight-qqzlmc{max-height:100px;}
.r-maxWidth-z7pwl0{max-width:700px;}
.r-marginRight-1ifrmw8{margin-right:3px;}
.r-transform-1jdh8ui{-webkit-transform:translateY(1px);transform:translateY(1px);}
.r-transform-q7vtmu{-webkit-transform:translateY(-2px);transform:translateY(-2px);}
.r-opacity-5h0198{opacity:0.23;}
.r-color-homxoj{color:inherit;}
.r-marginRight-1kb76zh{margin-right:8px;}
.r-opacity-17tb59b{opacity:0.7;}
.r-borderLeftColor-1tlsptx{border-left-color:rgba(242,242,242,1.00);}
.r-borderRightColor-3orhfy{border-right-color:rgba(242,242,242,1.00);}
.r-borderTopColor-1po2r12{border-top-color:rgba(242,242,242,1.00);}
.r-maxWidth-4xy98{max-width:620px;}
.r-color-aigwqt{color:rgba(0,0,0,0.65);}
.r-marginTop-kbtpn4{margin-top:-20px;}
.r-fontSize-111xbm8{font-size:42px;}
.r-left-1aqlll8{left:-15px;}
.r-maxWidth-x1dlf0{max-width:200px;}
.r-paddingLeft-1qhn6m8{padding-left:16px;}
.r-paddingRight-i023vh{padding-right:16px;}
.r-left-ggadg3{left:-2px;}
.r-width-1jg9483{width:8px;}
.r-backgroundColor-1ae0hzm{background-color:rgba(202,51,102,1.00);}
.r-marginLeft-1f9cwqx{margin-left:-18px;}
.r-width-1byhcdq{width:950px;}
.r-marginLeft-cnkkqs{margin-left:-4px;}
.r-maxWidth-1mm2rtt{max-width:40%;}
.r-marginBottom-76dzzk{margin-bottom:-14px;}
.r-marginTop-oido4f{margin-top:-14px;}
.r-textDecorationColor-10igbsy{-webkit-text-decoration-color:rgba(0,0,0,0.00);text-decoration-color:rgba(0,0,0,0.00);}
.r-borderBottomColor-f7z0r1-ho:hover{border-bottom-color:rgba(212,230,241,1.00);}
.r-borderBottomColor-20j64p-fo.r-borderBottomColor-20j64p-fo:focus{border-bottom-color:rgba(202,51,102,1.00);}
.r-minHeight-1e8bmlr{min-height:2px;}
.r-minWidth-1q2a18s{min-width:2px;}
.r-minHeight-1rd2zbf{min-height:120px;}
.r-marginBottom-bvlit7{margin-bottom:-12px;}
.r-minHeight-peo1c{min-height:44px;}
.r-minWidth-1ps3wis{min-width:44px;}
.r-borderBottomColor-wu74qn{border-bottom-color:rgba(250,250,250,1.00);}
.r-transform-zmkdlz{-webkit-transform:translateY(-0.5px);transform:translateY(-0.5px);}
.r-height-eu3ka{height:40px;}
.r-width-1aockid{width:40px;}
.r-marginLeft-1nkf79l{margin-left:-16px;}
.r-marginRight-2eo2mk{margin-right:-4px;}
.r-transform-6pnnf8{-webkit-transform:translateY(-15px);transform:translateY(-15px);}
.r-marginLeft-12ubb6f{margin-left:-6px;}
.r-lineHeight-xnfwke{line-height:38px;}
.r-transform-ogzg0q{-webkit-transform:translateY(-4px);transform:translateY(-4px);}
.r-contain-10pando{contain:paint layout;}
.r-height-bajy9j{height:230px;}
.r-marginBottom-1xdgnw0{margin-bottom:-40px;}
.r-marginTop-178t44z{margin-top:-80px;}
.r-width-1aluvfq{width:750px;}
.r-left-ctyi22{left:20px;}
.r-top-1jy2w8o{top:1px;}
.r-color-181bzza{color:rgba(85,85,85,1.00);}
.r-top-1wghi3f{top:-8px;}
.r-width-19wmn03{width:20px;}
.r-transform-zexzw7{-webkit-transform:scale(1.05);transform:scale(1.05);}
.r-zIndex-1g40b8q{z-index:3;}
.r-right-8yvsb2{right:2%;}
.r-top-qhfhe8{top:2%;}
.r-borderBottomLeftRadius-5qlx7g{border-bottom-left-radius:8px;}
.r-borderBottomRightRadius-nefvgx{border-bottom-right-radius:8px;}
.r-borderTopLeftRadius-1vznrp2{border-top-left-radius:8px;}
.r-borderTopRightRadius-3f7b68{border-top-right-radius:8px;}
.r-bottom-1b1g84l{bottom:-8px;}
.r-boxShadow-qp0g5k{box-shadow:0px 3px 2px rgba(0,0,0,0.10);}
.r-maxWidth-1a61te2{max-width:calc(90% - 30px);}
.r-boxShadow-6ret6v{box-shadow:0px 3px 2px rgba(0,0,0,0.20);}
.r-transform-wwx6aq{-webkit-transform:scale(1.05) skewX(-12deg) translateY(-10px);transform:scale(1.05) skewX(-12deg) translateY(-10px);}
.r-bottom-ea7jul{bottom:-55px;}
.r-transform-cnh945{-webkit-transform:rotate(-4deg);transform:rotate(-4deg);}
.r-maxWidth-18mhl7o{max-width:450px;}
.r-minHeight-2yi16{min-height:36px;}
.r-minWidth-1qi8awa{min-width:36px;}
.r-letterSpacing-16krg75{letter-spacing:-1px;}
.r-marginTop-184wmej{margin-top:25%;}
.r-boxShadow-c87unm{box-shadow:0px 5px 0px rgba(0,0,0,1.00);}
.r-backgroundColor-9tfo2e{background-color:rgba(255,255,255,0.30);}
.r-fontSize-1v91vpd{font-size:75%;}
.r-marginBottom-1ifxtd0{margin-bottom:16px;}
.r-marginTop-1x4s0f8{margin-top:-16px;}
.r-lineHeight-17jajws{line-height:28.490000000000002px;}
.r-marginBottom-1obvt9j{margin-bottom:-2.2792000000000003px;}
.r-marginTop-lb5cgz{margin-top:-2.2792000000000003px;}
.r-marginBottom-174ot82{margin-bottom:20px -5%;}
.r-marginLeft-1blf3ad{margin-left:20px -5%;}
.r-marginRight-1jny8sk{margin-right:20px -5%;}
.r-marginTop-4bteb6{margin-top:20px -5%;}
.r-width-1tp5e5a{width:110%;}
.r-paddingBottom-n44qx2{padding-bottom:1%;}
.r-paddingLeft-1gskd99{padding-left:3%;}
.r-paddingRight-1x6syyc{padding-right:3%;}
.r-paddingTop-1lvcvkg{padding-top:1%;}
.r-fontSize-7cikom{font-size:inherit;}
.r-lineHeight-t9a87b{line-height:inherit;}
.r-marginLeft-11wrixw{margin-left:0px;}
.r-marginTop-1mnahxq{margin-top:0px;}
.r-fontSize-yxh2yn{font-size:110%;}
.r-marginBottom-4l5ped{margin-bottom:0,20;}
.r-marginLeft-ht9ebg{margin-left:0,20;}
.r-marginRight-xmcwgt{margin-right:0,20;}
.r-marginTop-1ej6bdf{margin-top:0,20;}
.r-paddingBottom-qca9iw{padding-bottom:12,20,0;}
.r-paddingLeft-3uuxxl{padding-left:12,20,0;}
.r-paddingRight-1ezlcuv{padding-right:12,20,0;}
.r-paddingTop-19oyq5f{padding-top:12,20,0;}
.r-maxHeight-y4ezro{max-height:49px;}
.r-backgroundColor-1lze883{background-color:rgba(100,100,100,0.35);}
.r-boxShadow-nhcpy9{box-shadow:10px 0px 44px rgba(0,0,0,0.13);}
.r-color-9daio6{color:rgba(0,0,0,0.75);}
.r-borderBottomColor-rp7rv6-ho:hover{border-bottom-color:rgba(240,240,240,1.00);}
.r-borderLeftColor-bf20ud-ho:hover{border-left-color:rgba(240,240,240,1.00);}
.r-borderRightColor-pnyujd-ho:hover{border-right-color:rgba(240,240,240,1.00);}
.r-borderTopColor-12gph82-ho:hover{border-top-color:rgba(240,240,240,1.00);}
.r-transform-1okylda{-webkit-transform:scale(1.12);transform:scale(1.12);}
.r-transform-1okylda-ho:hover{-webkit-transform:scale(1.12);transform:scale(1.12);}
.r-marginLeft-1hjkk89{margin-left:-3px;}
.r-marginRight-rrtc46{margin-right:-3px;}
.r-height-10ptun7{height:16px;}
.r-boxShadow-s28kk0{box-shadow:0px 0px 0px rgba(0,0,0,0.25);}
.r-maxWidth-4m99jg{max-width:320px;}
.r-width-1sxiqef{width:280px;}
.r-marginBottom-1ytwq0x{margin-bottom:-6px;}
.r-marginTop-1e6yznf{margin-top:-6px;}
.r-backgroundColor-m2mk55-ho:hover{background-color:rgba(240,250,255,1.00);}
.r-minHeight-1h7k3np{min-height:3px;}
.r-minWidth-igimgj{min-width:3px;}
.r-opacity-12c3ph5-fo.r-opacity-12c3ph5-fo:focus{opacity:0.4;}
.r-marginTop-1cvj4g8{margin-top:1px;}
.r-transform-1caijco{-webkit-transform:translateY(7px);transform:translateY(7px);}
.r-boxShadow-ex8zwv{box-shadow:-3px 3px 10px rgba(0,0,0,0.10);}
.r-color-1eyqo0l{color:rgba(139,0,0,1.00);}
.r-backgroundColor-m2mk55-fo.r-backgroundColor-m2mk55-fo:focus{background-color:rgba(240,250,255,1.00);}
.r-borderBottomColor-19w9ixl-fo.r-borderBottomColor-19w9ixl-fo:focus{border-bottom-color:rgba(170,170,170,1.00);}
.r-borderLeftColor-1x20lhr-fo.r-borderLeftColor-1x20lhr-fo:focus{border-left-color:rgba(170,170,170,1.00);}
.r-borderRightColor-1kjfut0-fo.r-borderRightColor-1kjfut0-fo:focus{border-right-color:rgba(170,170,170,1.00);}
.r-borderTopColor-1qumsjt-fo.r-borderTopColor-1qumsjt-fo:focus{border-top-color:rgba(170,170,170,1.00);}
.r-fontSize-10x49cs{font-size:10px;}