.see-through {
  display: flex;
  flex-direction: inherit;
  flex-grow: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: inherit;
  height: inherit;
}

.see-through > * {
  transition: all ease-in-out 120ms;
}
