html,
body,
#root {
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #000;
}

#root {
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 1;
  display: flex;
  flex: 1;
  z-index: 0;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}

* {
  flex-basis: initial !important;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

body {
  background: #000;
  display: flex;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: scrollbar;
}

body, pre, input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  color: #4B2EA8;
}

a:hover {
  color: #4B2EA8cc;
}

p a {
  text-decoration: underline;
}

input,
textarea {
  outline: 0;
}

.ellipse {
  display: block !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.transition-delay {
  transition-delay: 250ms;
}
.transition-delay-long {
  transition-delay: 300ms;
}

.ease-in-out-top {
  transition: top ease-out 140ms;
}
.ease-in-out-faster {
  transition: all 50ms ease-in-out;
}
.ease-in-out-fast {
  transition: all 100ms ease-in-out;
}
.ease-in-out {
  transition: all 180ms ease-in-out;
}
.ease-in-out-slow {
  transition: all 300ms ease-in-out;
}
.ease-in-out-slower {
  transition: all 400ms ease-in-out;
}

.force-disable,
.force-disable * {
  pointer-events: none !important;
}

.no-transition {
  transition: unset;
}

/* fix pointer events bug */
.react-tiny-popover-container {
  pointer-events: none;
  z-index: 10000;
}

.shine {
  position: relative;
}

/* .shine:after {
  animation: shine 1.5s linear infinite;
  animation-fill-mode: forwards;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.4) 92%,
    rgba(255, 255, 255, 0) 100%
  );
} */

@keyframes shine {
  0%, 10% {
    opacity: 1;
    top: 0;
    left: -100%;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
  50% {
    opacity: 0;
    top: 0;
    left: 100%;
    transition-property: left, top, opacity;
  }
}

.react-tiny-popover-container {
  z-index: 2;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.dot-annotation {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #888, #333);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: -1;
}

.mk-annotation-container {
  z-index: -1;
}

.searchbar-container ::placeholder {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 400;
}

::placeholder {
  text-overflow: ellipsis;
}

.display-contents {
  display: contents;
}

/* some small animation helpers */
.animate-up {
  pointer-events: none;
  opacity: 0;
  transform: translateY(8px);
  transition: all ease-in-out 200ms;
}
.animate-up.active {
  pointer-events: unset;
  opacity: 1;
  transform: translateY(0);
}

/* some small animation helpers */
.animate-right {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-8px);
  transition: all ease-in-out 200ms;
}
.animate-right.active {
  opacity: 1;
  transform: translateX(0);
}

.see-through {
  display: contents;
}

.see-through-measurable {
  display: flex;
  flex-direction: inherit;
  flex-grow: inherit;
  align-items: inherit;
  justify-content: inherit;
  max-width: 100%;
  max-height: 100%;
}


.inline-flex {
  display: inline-flex;
}

div,
.flex {
  display: flex;
  flex-direction: inherit;
  flex-wrap: inherit;
  /* flex-grow: inherit; */
}

.blur {
  backdrop-filter: blur(30px);
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.inner-shadow {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.02);
}

.inner-glow {
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.75);
}

.cursor-pointer {
  cursor: pointer;
}

ul, ol {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skewX {
  transform: skewX(-12deg);
}

.unskewX {
  transform: skewX(12deg);
}

.scrollable {
  overflow-y: auto;
}

.dish-link {
  cursor: pointer;
  max-width: 100%;
  flex-direction: inherit;
}

.hover-underline:hover {
  text-decoration: underline;
  text-decoration-color: rgba(150, 150, 150, 1);
}

.unselectable {
  user-select: none;
}

.unselectable-all * {
  user-select: none !important;
}

.searchbar-inner-shadow {
  box-shadow: inset 0 0 30px rgba(255,255,255,0.1);
}

.hover-to-reveal-parent .hover-to-reveal-child {
  opacity: 0;
}

.hover-to-reveal-parent:hover .hover-to-reveal-child {
  opacity: 1;
}

.all-input-blur input {
  user-select: none;
  pointer-events: none;
}

.untouchable, .untouchable * {
  pointer-events: none !important;
}

.invisible {
  opacity: 0;
}

.box-shadow-inset-large {
  box-shadow: inset 0 0 25px rgba(0,0,0,0.1);
}

.scroll-bounce > div {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: auto;
}

.dotted-line {
  border-bottom: 2px dotted #ddd;
}

.inset-shadow-xxxl {
  box-shadow: inset 0 0 10000px rgba(0,0,0,0.15);
}

.dish-inset-shadow::after {
  display: flex;
  content: ' ';
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 0 10px 5px rgba(255,255,255,0.25);
  border-radius: 12px;
  overflow: hidden;
}

.signin-button > div {
  width: 156px !important;
  height: 36px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 30px rgba(150,150,150,1) inset !important;
}

@media screen and (max-width: 860px) {
  .hide-when-small {
    display: none;
  }
}


.preserve-whitespace {
  white-space: pre-wrap;
}

@media (hover: hover) {
  .hover-faded-in-parent:hover .faded-out, .hover-faded-in-parent:hover .greyed-out {
    filter: grayscale(0%);
    opacity: 1;
  }

  .faded-out {
    transition: all ease-in 300ms;
    filter: grayscale(100%);
    opacity: 0.5;
  }

  .greyed-out {
    filter: grayscale(100%);
  }
}

.block-link {
  display: flex;
  flex-direction: inherit;
  flex-grow: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.align-self-flex-end {
  display: inline-flex !important;
  align-self: flex-end !important;
}

.fix-safari-shrink-height {
  min-height: -webkit-fit-content;
}

.underline-link:hover {
  text-decoration: underline;
}

.nobreak {
  white-space: nowrap;
}

body > div {
  pointer-events: none;
}

.scale-hover {
  position: relative;
  overflow: hidden;
  transition: all ease-out 240ms;
}

.scale-hover:hover {
  transform: scale(1.025);
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
  z-index: 10;
}
/*
.scale-hover > div::before {
  display: flex;
  content: ' ';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0,0,0,0), rgba(0,0,0,0.25));
  opacity: 1;
  transition: all ease-out 40ms;
}

.scale-hover:hover > div::before {
  opacity: 0;
} */

.scroll-snap-photos > div {
  scroll-snap-type: x mandatory;
}

.scroll-snap-photo {
  scroll-snap-align: center;
}

.animate-in {
  transition: all ease-in 300ms;
  opacity: 0;
  transform: translateY(30);
}

.animate-in-mounted {
  transition: all ease-in 300ms;
  opacity: 1;
  transform: translateY(0);
}

.animate-delay-some {
  transition-delay: 300ms;
}

.safari-overflow-fix {
  transform: translateZ(0px);
}
