/* Site theme stuff  */
.content-section a {
  color: #8c60f8;
  text-decoration: none;
  font-weight: 600;
  /* -webkit-text-underline-offset: 2px;
  -webkit-text-decoration-thickness: 2px; */
  /* text-decoration-color: #8c60f833; */
}

.content-section a:hover {
  color: #b698ff;
}

svg {
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
}

p a:hover {
  color: #a07ff7;
}

.token-line {
  display: block;
}

.ui-title {
  font-family: 'GTEesti', Helvetica, Arial, sans-serif;
}

/* HTML */

#app {
  overflow-x: hidden;
}

body {
  font-family: -apple-system, 'SF Pro Text', BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
    Helvetica, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #000;
  font-size: 14px;
  line-height: 1.3rem;
  font-weight: 400;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  pointer-events: none;
  min-height: 100vh;
  font-kerning: auto;
  font-feature-settings: 'liga', 'kern';
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

body * {
  outline: 0;
}

.main-contents {
  display: flex;
  flex-flow: column;
}

.will-load .main-contents {
  opacity: 1;
  transition: all ease 500ms !important;
}

.loading .main-contents {
  opacity: 0;
}

script,
body script {
  display: none;
}

body,
html {
  background: #000;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359.999deg);
  }
}

.clip-text {
  mix-blend-mode: screen;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#app {
  pointer-events: auto;
}

small {
  opacity: 0.8;
  display: inline;
}

img {
  border: none;
}

@keyframes orbit {
  from {
    transform: rotate(-0deg) translateY(250px) rotate(-0deg);
  }
  to {
    transform: rotate(360deg) translateY(250px) rotate(-360deg);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  80% {
    transform: scale(1.05);
  }

  90% {
    transform: scale(0.975);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bouncy {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes wiggle {
  2% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  4% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  6% {
    transform: rotate3d(0, 0, 1, 2.5deg);
  }

  8% {
    transform: rotate3d(0, 0, 1, -2.5deg);
  }

  10% {
    transform: rotate3d(0, 0, 1, 0.000001deg);
  }
}

body,
.smooth-container {
  scroll-behavior: smooth;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: red;
  background-color: red;
  transition: background-color 5000s ease-in-out 0s;
}

::selection {
  background: #8c60f8;
  color: #fff;
  text-shadow: none;
}

.theme-home *::selection,
.theme-dark *::selection {
  background: rgba(100, 100, 100, 0.45);
  color: #fff;
  text-shadow: none;
}

*::selection,
.theme-docsPageTheme *::selection,
.theme-light *::selection {
  background: #8c60f8;
  color: #fff;
  text-shadow: none;
}

input,
textarea,
select {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

style {
  display: none;
}

a {
  color: lightblue;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
}

/* reset elements from flex */

a,
span,
em,
b,
strong,
i {
  display: inline;
}

script,
meta,
link {
  display: none;
}

a,
input,
textarea,
select {
  outline: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
br {
  display: block;
}

ol,
ul {
  margin: 0;
  padding: 0;
  white-space: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
code,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

pre,
code {
  margin: 0;
}

code {
  margin: 0;
  padding: 0;
  display: inline-block;
}

img {
  display: block;
}

li {
  display: list-item;
}

p code {
  display: inline-block;
  padding: 0;
}

table {
  display: table;
}
tr {
  display: table-row;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tfoot {
  display: table-footer-group;
}
col {
  display: table-column;
}
colgroup {
  display: table-column-group;
}
td,
th {
  display: table-cell;
}
caption {
  display: table-caption;
}

/* reset mark */
mark {
  background: none;
  color: auto;
}

blockquote {
  margin: 0;
  padding: 0;
}

/* Reset 2.0 */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eee;
  margin: 16px 0 32px 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.hide-scrollbars::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: transparent;
}

svg .animate-path {
  stroke: #000;
  stroke-width: 1;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation-name: draw;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.calendar-dom *,
.display-block * {
  display: block;
  flex-shrink: initial;
  flex-direction: row;
}

.hover-will-transform:hover {
  will-change: transform, opacity;
}
