# Note that Github's web editor has linting for Github Action YAML
# And also there is a JSON schema for validating in your local editor:
# http://json.schemastore.org/github-workflow

name: "On-push tests"
on: [push]
env:
  DOCKER_BUILDKIT: 1
  DISH_ENV: "test"
  DISH_REGISTRY: "docker.k8s.dishapp.com"
  HASURA_ENDPOINT: "http://localhost:8080"
  GITCRYPT_KEY: ${{ secrets.GITCRYPT_KEY }}

jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '12.16.1'
      - name: Decrypt credentials
        run: .github/workflows/scripts/decrypt_creds.sh
      - name: Install dev dependencies
        run: .github/workflows/scripts/install_dev_deps.sh
      - name: Prettier linting
        run: .github/workflows/scripts/prettier.sh
      - name: Setup admin
        run: .github/workflows/scripts/setup_admin.sh
      - name: Build docker images
        run: .github/workflows/scripts/build.sh
      - name: Setup services
        run: .github/workflows/scripts/setup_services.sh
      - name: Run unit tests, specs, etc
        run: .github/workflows/scripts/tests.sh
      - name: Run integration tests
        run: .github/workflows/scripts/integration_tests.sh
      - name: Deploy
        run: .github/workflows/scripts/deploy.sh
        if: github.ref == 'refs/heads/production'
      - name: 'On fail: Output container logs'
        run: .github/workflows/scripts/on_failure.sh
        if: failure()

