# Note that Github's web editor has linting for Github Action YAML
# And also there is a JSON schema for validating in your local editor:
# http://json.schemastore.org/github-workflow

name: 'On-push tests'
on: [push]
env:
  DOCKER_BUILDKIT: 1
  DISH_ENV: 'test'
  DISH_REGISTRY: 'gcr.io/dish-258800'
  CURRENT_DISH_CLUSTER: 'dish-blue'
  HASURA_ENDPOINT: 'http://localhost:8080'
  GITCRYPT_KEY: ${{ secrets.GITCRYPT_KEY }}

jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: '15.4.0'
      - name: Setup dependencies
        run: .github/workflows/scripts/setup_deps.sh
      - name: Build docker images
        run: ./dishctl.sh build_all_dish_services
      - name: Prettier linting
        run: ./dishctl.sh ci_prettier
      - name: Setup services
        run: .github/workflows/scripts/setup_services.sh
      - name: Run unit tests, specs, etc
        run: docker run --net host ${DISH_REGISTRY}/base yarn test
      - name: Run integration tests
        run: .github/workflows/scripts/integration_tests.sh
      - name: Deploy Staging
        run: .github/workflows/scripts/deploy_staging.sh
        if: github.ref == 'refs/heads/staging'
      - name: Deploy Production
        run: .github/workflows/scripts/deploy_prod.sh
        if: github.ref == 'refs/heads/production'
      - name: 'On fail: Output container logs'
        run: .github/workflows/scripts/on_failure.sh
        if: failure()
