name: Scheduled recurring tests
on:
  schedule:
    - cron:  '0 0 * * *'
jobs:
  daily:
    runs-on: ubuntu-latest
    env:
      DOCKER_BUILDKIT: 1
      DISH_ENV: "test"
      DISH_REGISTRY: "docker.k8s.dishapp.com"
      CURRENT_DISH_CLUSTER: "dish-blue"
      HASURA_ENDPOINT: "http://localhost:8080"
      GITCRYPT_KEY: ${{ secrets.GITCRYPT_KEY }}
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v1
      with:
        node-version: '12.16.1'
    - name: Decrypt credentials
      run: .github/workflows/scripts/decrypt_creds.sh
    - name: Install dev dependencies
      run: .github/workflows/scripts/install_dev_deps.sh
    - name: Setup admin
      run: .github/workflows/scripts/setup_admin.sh
    - name: Build docker images
      run: .github/workflows/scripts/build.sh
    - name: Setup services
      run: .github/workflows/scripts/setup_services.sh
    - name: HTTP-dependent crawler tasks
      run: .github/workflows/scripts/recurring.sh

